* {
  box-sizing: border-box;
} 

.form-check-input, .custom-input {
  border: 2px solid rgb(167, 171, 237);;
	/*  */
}

 /*.custom-container {
  display: flex;
  flex-wrap: wrap;
} */

.custom-container, .custom-input {
 width: 18rem;
 /* border: 2px solid; */
}

.button-delete {
  border-radius: 5px;
  border: none;
  background-color: #fff;
}

svg {
  height: 20px;
  width: 20px;
}

.task-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-basis: 100%; */
  justify-content: space-between;
}

.form-check-label {
  text-align: left;
  margin-left: 5px;
  flex-grow: 1;
  /* flex-basis: 30%; */
}

.task-container {
 /* margin-top: 3rem; */
  flex-basis: 100%;
}

.custom-button {
  margin-top: 1rem;
}

.strikethrough {
  text-decoration: line-through;
}

nav { 
  background-color: #50AC54;
  color: #fff;
  font-size: 24px;
  padding: 24px;
}

@media (max-width: 340px) {
  .custom-container, .custom-input {
    width: 16rem;
  }
}